h2{                      
  text-align: center;
  color: red;
}
.container{                    /*Dispalying the form into center of the page and background color as gray*/
  margin: auto;
  background-color:gray;
  width:700px;
}
form{                       /*display the form elements as a flex*/
    margin: auto;                
    text-align:center;
    font-size: smaller;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 10px;
    
  }
form input{                     /*setting height and width for input*/
  width:300px;
  height: 20px;
  border: 1px solid black;
 

}
#sm{                            /*setting the submit button width and color and display it into center of the form*/
  width:100px;
  height: 35px;
  margin: auto;
  background-color: orangered;
}
label{
  width:150px; 
}
.alert{                          /*setting the text color when we input wrong data*/
  text-align: start;
  color: rgb(158, 41, 41);
  letter-spacing: .5px;
}
#res{                            /*Displaying the text color for result*/
  text-align: center;
  color: rgb(4, 94, 4);
  padding: 5px;
}